*{
    margin : 0;
    padding: 0;
}
.banner{
    width: 100%;
    background-color: antiquewhite; 
    background-size: 100%;
    background-position: cover;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 120px;
    cursor: pointer;
}
.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li .btn{
    cursor: pointer;
    color: #0d0f0f;
    font-size: 18px;
    letter-spacing: 2px;
    border-radius: 4px;
    border: 2px solid #0c0e0e;
    background: transparent;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    margin: 20px 8px;
}
.navbar ul li a{
    text-decoration: none;
    color: #110d0d;
    text-transform: uppercase;
}
.navbar ul li ::after{
    content: '';
    height: 3px;
    width: 0;
    background: #101111;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li :hover:after{
    width: 100%;
}
.navbar ul li button{
    width: 200px;
    padding:15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color:#fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
ul li ul .dropdown li{
    display: block;
}
ul li ul.dropdown{
    width: 100%;
    background: transparent;
    position: absolute;
    z-index: 999;
    display: none;
}
ul li a:hover{
    background:transparent;
}
ul li:hover ul.dropdown{
    display: block;
}
span{
    background: #009688;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;

}
button:hover span{
    width: 100%;
}
button:hover{
    border:none;
}

.btn{
    cursor: pointer;
    color: #080707;
    font-size: 18px;
    letter-spacing: 2px;
    padding:10px 30px;
    border: 2px solid #009688;
    background: transparent;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    margin: 40px 8px;
    border-radius: 0;
}
.btn:hover{
    color:#0a0707;
}
.btn::before{
    content: "";
    position:absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #0a0808;
    z-index:1;
    transition: 0.5s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
}
.btn::before{
    transform: scaleX(0);
}
.btn:hover::before{
    transform: scaleX(1);
}
  .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 40px 20px 0 20px;
  }
  
  .container .heading{
    width: 50%;
    padding-bottom: 50px;
  }
  .container .heading h3{
    font-size: 3em;
    font-weight: bolder;
    padding-bottom: 10px;
    border-bottom: 3px solid #222;
  }
  
  .container .heading h3 span{
    font-weight: 100;
  }
.container .box{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
  }
  
.container .box .dream{
    display: flex;
    flex-direction: column;
    width: 32.5%;
  }
  
.container .box .dream img{
    width: 100%;
    padding-bottom: 15px;
    border-radius: 5px;
  }
  
.container .btn{
    margin: 40px 0 70px 0;
    background: #290552;
    padding: 15px 40px ;
    border-radius: 5px;
  }
  
.container .btn a{
   color: #fff;
   font-size: 1.2em;
   text-decoration: none;
   font-weight: bolder;
   letter-spacing: 3px;
}
  footer p{
    padding:0;
    font-size: 0.8em;
    color: hsla(0, 50%, 100%, 0.35);
    margin: 1em 0;
    font-size: 1rem;
}
footer ul{
    list-style: none;
    display: flex;
    margin: 1em 0; 
}
footer ul li a{
    padding: 1em; 
    text-decoration: none;
    color: rgba(255, 255, 255, 0.904);
    transition: 100ms;
}
footer ul li a:hover{
    color: var(--primary);
}

footer{
    width: 100%;
    background: #180041;
    color: #fff; 
    display: grid;
    place-items: center;
    padding: 2em; 
    font-size: 1.2rem;
}



/* Sticky Footer Styling */
body{
    min-height: 100vh;
}
.sticky-footer{
    position: sticky;
    top: 100%;
}
