*{
    margin : 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    background-image: url(background.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-size: 100%;
    width: 100%;
    height: 100vh;
}

.swiper{
    width: 1200px;
    height: 600px;
}

.swiper-button-prev, .swiper-button-next{
    color: #fff;
    transition: .2s linear;
}

.swiper-button-prev:hover, .swiper-button-next:hover{
    transform: scale(1.1);
}

.swiper-pagination-bullet{
    border: 2px solid #fff;
    transition: .2s linear;
}

.swiper-pagination-bullet:hover, .swiper-pagination-bullet-active{
    background-color: #fff;
}
*{
    margin : 0;
    padding: 0;
}
.banner{
    width: 100%;
    height: 100vh;    
    background-size: 100%;
    background-position: center;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 120px;
    cursor: pointer;
}
.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li .btn{
    cursor: pointer;
    color: #e8eeed;
    font-size: 18px;
    letter-spacing: 2px;
    border-radius: 4px;
    border: 2px solid #f0f1f1;
    background: transparent;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    margin: 20px 8px;
}
.navbar ul li a{
    text-decoration: none;
    color: #f3ebeb;
    text-transform: uppercase;
}
.navbar ul li ::after{
    content: '';
    height: 3px;
    width: 0;
    background: #e8eeed;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li :hover:after{
    width: 100%;
}
.navbar ul li button{
    width: 200px;
    padding:15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color:#fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
ul li ul .dropdown li{
    display: block;
}
ul li ul.dropdown{
    width: 100%;
    background: transparent;
    position: absolute;
    z-index: 999;
    display: none;
}
ul li a:hover{
    background:transparent;
}
ul li:hover ul.dropdown{
    display: block;
}

.content{
    display: flex;
    align-items: center;
}
.cols{
    flex-basis: 60%;
}
.hels{
    flex-basis: 50%;
}
h1{
    color: #fff;
font-size: 100px;
}
p{
    color: #fff;
    font-size: 18px;
    line-height: 15px;
   
}
.btn{
    background: none;
    border:2px solid #fff;
    font-family: sans-serif;
    text-transform: uppercase;
    padding: 12px 20px;
    min-width: none2;
}
.btn span{
    background: #f6f8f8;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;

}
.btn:hover span{
    width: 100%;
}
.btn:hover{
    border:none;
}
button{
    width: 200px;
    padding:15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color:#fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    font-size: 20px;
}
span{
    background: #009688;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;

}
button:hover span{
    width: 100%;
}
button:hover{
    border:none;
}
.cols{
    
    color: #eee7e7;
    text-align: center;
}
footer p{
    padding:0;
    font-size: 0.8em;
    color: hsla(0, 50%, 100%, 0.35);
    margin: 1em 0;
    font-size: 1rem;
}
footer ul{
    list-style: none;
    display: flex;
    margin: 1em 0; 
}
footer ul li a{
    padding: 1em; 
    text-decoration: none;
    color: rgba(255, 255, 255, 0.904);
    transition: 100ms;
}
footer ul li a:hover{
    color: var(--primary);
}

footer{
    width: 100%;
    background: #180041;
    color: #fff; 
    display: grid;
    place-items: center;
    padding: 2em; 
    font-size: 1.2rem;
}



/* Sticky Footer Styling */
body{
    min-height: 100vh;
}
.sticky-footer{
    position: sticky;
    top: 100%;
}